$poppins: 'Poppins', sans-serif;

$white: #ffffff;
$greyWhite: #D4D3DD;
$grey: #575757;
$blue: #a5c7fa;
$darkBlue: #243857;
$blueGrey: #405574;
$yellow: #EFEFBB;
$green: #346d3f;

$human: #f5f5f5;
$alien: #def3fd;