.charactersGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin-bottom: 70px;
    
    @media (max-width: 1245px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 810px) {
        grid-template-columns: repeat(2, 1fr);
    }


    @media (max-width: 536px) {
        grid-template-columns: repeat(1, 1fr);
    }


}
